* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/image-background/hotel-image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* NAV BAR */

nav {
    background-color: #920000;
    margin:25px;
    padding:15px 25px 15px 25px;
}

.menu {
    display:flex;
    list-style: none;
    align-items: center;
    border: 3px solid #FFFFFF;
}

#timer {
    flex: 3;
    margin-left: 20px;
    padding-left: 40px;
    border-left: 3px solid #FFFFFF;
    height:80px;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}

#indice {
    flex: 1;
}

#code {
    flex: 1;
}

#machine {
    flex: 1;
}


#quitter {
    flex: 1;
    border-left: 3px solid #FFFFFF;
    padding-left: 3%;
    height:80px;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}

.menu li {
    font-size: 2.5em;
    color:#FFFFFF;
}

.menu a {
    text-decoration: none;
    color:#FFFFFF;
}

#unlock-logo {
    width:250px;
    height: 100px;
    margin-top:10px;
    margin-left:20px
}

/* MAIN CONTENT */

.game-main {
    display:flex;
}

.chambre-card  {
    margin: 20px 150px 0 100px;
}

.all-cards {
    height: 700px;
    width: 1130px;
    overflow: auto;
    background-color: rgba(31, 31, 31, 0.72);
    margin-top: 20px;
}

.all-cards img {
    height: 380px;
    width: 210px;
    margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }