body {
    margin: 0;
}

.game {
    background-color: #000000;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 520px;
    background: rgb(226, 174, 174);
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 16px;
}

img {
    border: 2px solid #000000;
    border-radius: 50%;
    width: 50px;
}

img:hover {
    background-color: #EADD65;
    cursor: pointer;
}

.timer {
    width: 45%;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 45px;
    padding: 6px;
    box-shadow: 0px 1px 6px 0px #000000;
}

.gridScreen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    text-align: center;
    align-items: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}

.card {
    display: flex;
    width: 150px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: 0.6s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}