* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #920000;
    margin:50px
}

.menu {
    display:flex;
    list-style: none;
    align-items: center;
    border: 3px solid #FFFFFF;

}

#timer {
    flex: 3;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 2px solid #FFFFFF;
    padding-left: 3%;
}

#indice {
    flex: 1;
}

#code {
    flex: 1;
}

#machine {
    flex: 1;
}

#quitter {
    flex: 1;
    border-left: 2px solid #FFFFFF;
    padding-left: 3%;
}

.menu a {
    text-decoration: none;
    font-size: 2.5em;
    color:#FFFFFF;
}

#unlock-logo {
    width:250px;
    height: 100px;
}

.scenario-main {
    display: flex;
}

.scenario-texte {
    background-color: rgba(82, 82, 82, 0.77);
    margin-left: 10%;
    margin-right: 10%;
    color:white;
    position: relative;
}

h2 {
    text-align: center;
    margin-top:30px;
    font-size: 2.7em;
}
h3 {
    margin-left: 20px;
    margin-top:75px;
    font-size: 1.2em;
}

p {
    margin-left: 20px;
    margin-top:15px;
    font-size: 1.4em;
}

#scenario-carte {
    margin-left: 10%;
}

#button-jouer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px;
    margin-bottom:30px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

#button-jouer:hover {
    color: #FFFFFF;
    background-color: black;
}
