{% extends 'base.twig' %}

{% block title %}Unlock! - Game {% endblock %}
{% block css %}css/game.css{% endblock %}

{% block body %}

<nav>
    <ul class="menu">
        <li><img src="img/nav/unlock-white.png" id="unlock-logo" alt="unlock"></li>
        <li id="timer">60:00</li>
        <li id="indice"><a href="">Indice</a></li>
        <li id="code"><a href="">Code</a></li>
        <li id="machine"><a href="">Machine</a></li>
        <li id="quitter"><a href="/">Quitter</a></li>
    </ul>
</nav>

{% for card in cards %}
    <a href="{{card.getImageVerso()}}" target="_blank"><img src="{{card.getImageVerso()}}"></a>
{% endfor %}

<script src="index.js"></script>

{% endblock %}