{% extends 'base.twig' %}

{% block title %}Unlock! - Game {% endblock %}
{% block css %}css/game.css{% endblock %}

{% block body %}

<nav>
    <ul class="menu">
        <li><img src="img/nav/unlock-white.png" id="unlock-logo" alt="unlock"></li>
        <li id="timer">60:00</li>
        <li id="indice"><a href="">Indice</a></li>
        <li id="code"><a href="">Code</a></li>
        <li id="machine"><a href="">Machine</a></li>
        <li id="quitter"><a href="/">Quitter</a></li>
    </ul>
</nav>

<div class="game-main">
    <div class="chambre-card">
        <img src="{{cards[0].getImageRecto()}}" id="carte-chambre" alt="Carte Chambre d'Hôtel">
    </div>
    <div class="all-cards">
    {% for card in cards %}
        <a href="/card/{{card.getNumber()}}"><img src="{{card.getImageVerso()}}"  alt="Carte Chambre d'Hôtel"></a>
    {% endfor %}
    </div>

    <img src="{{carte_revers}}"  alt="Carte Chambre d'Hôtel">
</div>

<script src="index.js"></script>

{% endblock %}