{% extends 'base.twig' %}

{% block title %}Unlock! - Scénario {% endblock %}
{% block css %}css/accueil.css{% endblock %}


{% block body %}
    <div class="content-credits">
        <h1 id="credits">Credits</h1>
        <div class="dev-div">
            <h2 id="dev">Developpers</h2>
            <h3 id="alban"><a href="https://github.com/Alban-Ktz" target="_blank">Alban Kuntz</a></h3>
            <h3 id="damienw"><a href="https://github.com/Skyrolight" target="_blank">Damien Welfringer</a></h3>
            <h3 id="yanis"><a href="https://github.com/Yanisrezgui" target="_blank">Yanis Rezgui</a></h3>
            <h3 id="damienj"><a href="https://github.com/NitroZV1" target="_blank">Damien Jund</a></h3>
        </div>
        <div class="github-div">
            <h2 id="github">GitHub</h2>
            <a href="https://github.com/Skyrolight/UnlockProject" target="_blank"><img src="./img/main-menu/github1.png" alt="Unlock Image"></a>
        </div>
        <div class="back-button">
            <a href="/">Retour</a>
        </div>
    </div>
{% endblock %}