{% extends 'base.twig' %}

{% block title %}Unlock!{% endblock %}
{% block css %}css/main-menu.css{% endblock %}

{% block body %}
    <div class="content">
        <img src="./img/main-menu/unlock.png" alt="Unlock Image">
        <h1 id="continue"><a href="">Continue</a></h1>
        <h1 id="newgame"><a href="scenario">New Game</a></h1>
        <h1 id="credits"><a href="credits">Credits</a></h1>
    </div>
{% endblock %}