{% extends 'base.twig' %}

{% block title %}Unlock!{% endblock %}
{% block css %}css/accueil.css{% endblock %}

{% block body %}
    <div class="content-main-menu">
        <img src="./img/main-menu/unlock-white.png" alt="Unlock Image">
        <h1 id="continue"><a href="select-game">Reprendre</a></h1>
        <h1 id="newgame"><a href="new-game">Nouveau</a></h1>
        <h1 id="credits"><a href="credits">Crédits</a></h1>
    </div>
{% endblock %}